name: CI Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Use GitHub Secret
        run: |
          echo "Secret is set"
        env:
          APP_SECRET_KEY: ${{ secrets.APP_SECRET_KEY }}

      - name: Run SAST (Bandit)
        run: |
          pip install bandit
          bandit -r app

      
      - name: Syntax check
        run: |
          python -m py_compile app/app.py

      - name: Secret scanning
        uses: trufflesecurity/trufflehog@main
        with:
          path: .

